.wrapWhiteBg fieldset{
    border-color:#848484;
}
.wrapWhiteBg input[type="text"]:focus{
    background:#fff;
    border-radius:4px;
}
.wrapWhiteBg input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.wrapWhiteBg input[type="text"]:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.wrapWhiteBg input[type="text"]::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.wrapWhiteBg input[type="text"]::placeholder {
  color: #fff;
  opacity: 1;
}
.wrapWhiteBg input[type="text"]:focus::-webkit-input-placeholder {
    color:#ccc;
}
.wrapWhiteBg input[type="text"]:focus:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.wrapWhiteBg input[type="text"]:focus::-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.wrapWhiteBg input[type="text"]:focus::placeholder {
    color: #ccc;
    opacity: 1;
}